
  <!-- FOOTER START -->
  <div class="footer">
    <div class="contain">
    <div class="col mb-6">
        <img  src="assets\image\Consultantship-logo-1-1.jpg"  width="200" style="width: 200px;">   </div>
    <div class="col">
        <br><br> <br> <br>
      <h1><strong>EXPLORER</strong></h1>
      
      <ul>
        <li>ACCEUIL</li>
        <li>QUI SOMNES NOUS? </li>
        <li>NOS SERVICES </li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="col">
        <br><br> <br> <br>
        <h1><strong>ESPACE</strong></h1>
        <ul>
          <li>PARTICULIER</li>
          <li>ENTREPRISE</li>
          
        </ul>
        <h1><strong>RESEAUX SOCIAUX</strong></h1>
      
        <ul>
          <li>INSTAGRAM</li>
          <li>FACEBOOK</li>
          <li>TWITTER</li>
          <li>LINKEDIN</li>
        </ul>
     
      
     
    </div>
    <div class="col">
        <br><br> <br> <br>

      <h1><strong>VISITER</strong> </h1>
      <ul>
        <li> GREEN SPACE<br><br>
            COWORKING<br><br>
            AVENUE HABIB<br><br>
            BOUGUIBA,RADES</li>
            
       
      </ul>
      
    </div>
    <div class="col">
        <br><br> <br> <br>

      <h1><strong>CONTACT</strong> </h1>
      <ul>
        <li> +21658789456

            Consultantship@

            gmail.com</li> <br>
            <button class="button button3">CONTACTER NOUS</button>

       
      </ul>
    </div>
    <div class="col">
        <br><br> <br> <br>

      <h1 ><strong>NE MANQUEZ PAS!</strong></h1>
      <ul>
        <li> S'incrivez-vous pour recevoir nos  newsletters , nos offres...</li>
            <button class="button button3">S'INSCRIRE</button>

       
      </ul>
    </div>
   
   

<div class="col"></div>
<div class="col"></div>
<div class="col"></div>


     
<div class="col social" >
     

   
  </div>
  <br><br> <br>
  <div class="clearfix">

  </div>
  
  </div>  </div> 
  <!-- END OF FOOTER -->